@{
	ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>
<h1 class="display-2">@TempData["deletedMyself"]</h1>
<br>
<br>
<div class="text-center">
	<h1 class="display-4">RPS Game!</h1>
	<p>Enter your unique name to log in or become a player</p><br><br>
	<div class="row">
		<div class="d-flex justify-content-center align-items-center container ">
			<form method="post" asp-action="Login">
				<input type="text" id="fname" name="fname" placeholder="Your First Name" class="form-control"><br>
				<input type="submit" value="Submit" class="btn btn-primary">
			</form>
		</div>
	</div>
</div>
